# Node modules
node_modules/

# Build output
dist/
*.tsbuildinfo

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Editor/IDE
.vscode/
.idea/
*.swp

# Test/coverage
coverage/
reports/

# Barrelsby cache
barrelsby.log

# Misc
.DS_Store
Thumbs.db

#npm
.npmrc
